.portfolios{
    width: 1015px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.portfolios img {
    width: 540px;
    height: 500px;
}

.sobre{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.sobre h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    margin-bottom: 28px;
}

.sobre p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 54px;
}

.botao-page-home{
    align-self: flex-start;
}

.contato{
    width: 1015px;
    height: 84px;
}